<module version="2.0">
  <meta>
    <identity>
      <uri>urn:uk:org:onegch:netkernel:nk4um:db</uri>
      <version>1.0.0</version>
    </identity>
    <info>
      <name>nk4um / database</name>
      <description>The database layer for nk4um</description>
    </info>
  </meta>

  <system>
    <dynamic/>
    <classloader>
      <exports>
        <match>uk\.org\.onegch\.netkernel\.nk4um\.db\.representation\..*</match>
      </exports>
    </classloader>
  </system>
  
  <!-- Space for requesting and processing data requests -->
  <rootspace name="Abstract Data Layer Space" uri="urn:uk:org:onegch:netkernel:nk4um:db" public="true">
    <accessor>
      <grammar>res:/etc/ConfigRDBMS.xml</grammar>
      <class>uk.org.onegch.netkernel.nk4um.db.RdbmsConfigAccessor</class>
    </accessor>
    
    <accessor>
      <grammar>res:/etc/system/LiquibaseConfig.xml</grammar>
      <class>uk.org.onegch.netkernel.nk4um.db.LiquibaseConfigAccessor</class>
    </accessor>
    
    <fileset>
      <regex>res:/nk4um/config.xml</regex>
      <rewrite>res:/uk/org/onegch/netkernel/nk4um/db/defaultConfig.xml</rewrite>
    </fileset>
    
    <fileset>
      <regex>res:/etc/pdsConfig.xml</regex>
      <rewrite>res:/uk/org/onegch/netkernel/nk4um/db/etc/pdsConfig.xml</rewrite>
    </fileset>
    
    <fileset>
      <regex>res:/uk/org/onegch/netkernel/nk4um/db/liquibase/.*</regex>
    </fileset>
    
    <import>
      <uri>urn:org:netkernel:mod:pds</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:mod:pds:rdbms:local</uri>
    </import>
    
    <mapper>
      <config>res:/uk/org/onegch/netkernel/nk4um/db/mapperConfig.xml</config>
      <space name="Mapper Inner Space">
        <fileset>
          <regex>res:/uk/org/onegch/netkernel/nk4um/db/.*</regex>
        </fileset>
        
        <import>
          <uri>urn:org:netkernel:mod:db</uri>
          <private/>
        </import>
        <import>
          <uri>urn:uk:org:onegch:netkernel:liquibase</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernel:ext:layer1</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernel:xml:core</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernel:mod:security</uri>
          <private/>
        </import>
      </space>
    </mapper>
    
    <import>
      <uri>urn:org:netkernel:ext:layer1</uri>
      <private/>
    </import>
    <import>
      <uri>urn:uk:org:onegch:netkernel:layer2</uri>
      <private/>
    </import>
    <endpoint> <!--  this stops failed resolutions within pds from messing up the scope and hence cachability of results -->
      <prototype>Limiter</prototype>
      <grammar>res:/etc/<regex type="anything"/></grammar>
    </endpoint>
  </rootspace>
</module>
