<module version="2.0">
  <meta>
    <identity>
      <uri>urn:uk:org:onegch:netkernel:layer2</uri>
      <version>1.2.0</version>
    </identity>
    <info>
      <name>1GCH / Layer2</name>
      <description>An alternative API wrapping layer1</description>
    </info>
  </meta>
  <system>
    <dynamic/>
    <classloader>
      <exports>
        <match>uk.org.onegch.netkernel.layer2.*</match>
      </exports>
    </classloader>
  </system>
  <rootspace>
    <import>
      <private/>
      <uri>urn:org:netkernel:ext:layer1</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:tpt:http</uri>
      <private/>
    </import>
  </rootspace>
</module>
